<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Pending Token(s)</mat-card-title>
  </mat-card-header>
  <mat-chip-list class="chip-list">
    <mat-chip class="chips" color="primary" selected>Normal</mat-chip>
    <mat-chip class="chips" color="accent" selected>Priority</mat-chip>
  </mat-chip-list>
  <mat-card-content class="card-content">
    <mat-list>
      <!-- Priority Token -->
      <mat-list-item *ngFor="let prio of (priorityTokens$ | async)">
        <mat-icon [color]="checkPriority(prio.priority)" mat-list-icon
          >queue</mat-icon
        >
        <div class="token" [class.priority]="prio.priority" mat-line>
          # {{ prio.ticket_number }}
        </div>
        <button
          mat-icon-button
          [color]="checkPriority(prio.priority)"
          matTooltip="Call this token"
          matTooltipPosition="before"
          [disabled]="isCalling$ | async"
          (click)="callToken(prio)"
        >
          <mat-icon aria-label="Call">call</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
      <!-- Normal Token -->
      <mat-list-item *ngFor="let queue of (normalTokens$ | async)">
        <mat-icon [color]="checkPriority(queue.priority)" mat-list-icon
          >queue</mat-icon
        >
        <div class="token" [class.priority]="queue.priority" mat-line>
          # {{ queue.ticket_number }}
        </div>
        <button
          mat-icon-button
          [color]="checkPriority(queue.priority)"
          matTooltip="Call this token"
          matTooltipPosition="before"
          [disabled]="isCalling$ | async"
          (click)="callToken(queue)"
        >
          <mat-icon aria-label="Call">call</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
