<csab-page-title pageTitle="Counter List">
  <button type="button" mat-raised-button color="primary" (click)="create()">
    <mat-icon>add</mat-icon>Add New Counter
  </button>
</csab-page-title>

<mat-card class="mat-elevation-z8">
  <csab-search-bar placeholder="Search by Name" (searchTerms)="onkeyup($event)">
  </csab-search-bar>
</mat-card>

<csab-table
  [displayedColumns]="displayedColumns"
  [columns]="columns"
  [data]="datas$ | async"
  [searchTerms]="searchTerms"
  [isLoading]="isLoading$ | async"
  (update)="update($event)"
></csab-table>
