<div class="login-container">
  <mat-progress-bar
    mode="indeterminate"
    color="primary"
    class="login-loader"
    *ngIf="(isAuthenticating$ | async)"
  ></mat-progress-bar>
  <mat-card class="login">
    <img class="login-logo" src="./assets/csab-logo.png" alt="Logo Text" />
    <h3 class="login-text">Login</h3>
    <form
      class="login-form"
      [formGroup]="loginForm"
      (submit)="authenticate()"
      novalidate
    >
      <formly-form
        [form]="loginForm"
        [fields]="formFields"
        [model]="model"
      ></formly-form>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        LOGIN
      </button>
    </form>
  </mat-card>
</div>
