.login-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login {
  max-width: 500px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-loader {
  max-width: 500px;
  width: 431px;
}

.login-logo {
  width: 90px;
  height: 90px;
}

.login-text {
  text-transform: uppercase;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  letter-spacing: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 14px;
  margin-bottom: 5px;
  justify-content: center;
}
