.print-content {
  font-family: "Google Sans", arial, sans-serif;
  text-align: center;
  display: block;
  width: 100%;
}

.date-text {
  font-size: 4pt;
}

.page-title {
  font-size: 7pt;
}

.ticket-title {
  font-size: 6pt;
}

.ticket-priority-text {
  font-size: 4pt;
  margin-top: -15mm;
}

.ticket-number {
  font-size: 40pt;
  margin-top: -4mm;
}

.footer {
  margin-top: -1mm;
}

.footer-content {
  font-size: 6pt;
}

.footer-text {
  text-transform: uppercase;
  font-size: 4pt;
}

.footer-number {
  font-size: 4pt;
}
