.print-content {
  font-family: "Google Sans", arial, sans-serif;
  text-align: center;
  margin-top: -5mm;
  width: 100%;
  overflow: hidden;
}

.date-text {
  font-size: 5pt;
}

.page-title {
  font-size: 6pt;
}

.ticket-title {
  font-size: 7pt;
}

.ticket-priority-text {
  font-size: 9pt;
  margin-top: -15mm;
}

.ticket-number {
  font-size: 40pt;
  margin-top: -4mm;
}

.footer {
  margin-top: -3mm;
}

.footer-text {
  font-size: 6pt;
}
