<mat-card class="container" *ngIf="(nowServing$ | async) as serving">
  <div class="loader-overlay" *ngIf="(isLoading$ | async)">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      strokeWidth="3"
      diameter="50"
    >
    </mat-progress-spinner>
  </div>
  <div class="now-serving-title">
    <ng-container *ngIf="!(isServing$ | async)">
      Calling
    </ng-container>
    <ng-container *ngIf="(isServing$ | async)">
      Now Serving
    </ng-container>
  </div>
  <div class="token-title">Token</div>
  <div
    class="token-number"
    [ngClass]="{
      'primary-text': !serving.priority,
      'accent-text': serving.priority
    }"
  >
    #{{ serving.ticket_number }}
  </div>
  <div class="actions">
    <button
      mat-raised-button
      color="accent"
      [disabled]="(isServing$ | async) || btnDisabled(serving)"
      (click)="callAgainToken(serving)"
    >
      <mat-icon>call</mat-icon>
      Call Again
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="(isServing$ | async) || btnDisabled(serving)"
      (click)="serveToken(serving)"
    >
      <mat-icon>play_arrow</mat-icon>
      Serve/Process
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!(isServing$ | async) || btnDisabled(serving)"
      (click)="completeToken(serving)"
    >
      <mat-icon>thumb_up</mat-icon>
      Complete & Finish
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="!(isServing$ | async) || btnDisabled(serving)"
      (click)="stopToken(serving)"
    >
      <mat-icon>stop</mat-icon>
      Stop
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="(isServing$ | async) || btnDisabled(serving)"
      (click)="backToQueue(serving)"
    >
      <mat-icon>add_to_queue</mat-icon>
      Back to Queue
    </button>
  </div>
</mat-card>
