<mat-card class="mat-elevation-z8">
  <csab-search-bar placeholder="Search by Title" (searchTerms)="search($event)">
  </csab-search-bar>
</mat-card>

<div class="table-container mat-elevation-z8">
  <div class="loader-overlay" *ngIf="isLoading$ | async">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      strokeWidth="3"
      diameter="50"
    >
    </mat-progress-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{ row.title }}</td>
    </ng-container>

    <ng-container matColumnDef="media_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{ row.media_type }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let row">
        {{ row.weight }}
      </td>
    </ng-container>

    <ng-container matColumnDef="visibility">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Visibility</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.visibility === 1">Visible</span>
        <span *ngIf="row.visibility === 0">Not Visible</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Video (click to view)
      </th>
      <td mat-cell *matCellDef="let row">
        <video
          class="video-thumbnail"
          width="75"
          height="75"
          preload="metadata"
          (click)="viewMedia(row)"
        >
          <source
            src="{{ ftpServer }}/{{ row.source }}"
            type="{{ row.media_type }}"
          />
        </video>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="update(row.id)" mat-raised-button color="accent">
          Update
        </button>
        &nbsp;
        <button (click)="delete(row)" mat-raised-button color="warn">
          Remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
