.issue-token-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.issue-token {
  max-width: 1000px;
  height: 400px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  text-transform: uppercase;
  align-self: flex-start;
}

.issue-logo {
  width: 90px;
  height: 90px;
}

.issue-text {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3333;
  letter-spacing: 5px;
  margin-top: 10px;
}

.fs-department {
  font-size: 20px !important;
  font-weight: 500;
}

.issue-form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.issue-btn {
  height: 80px;
  width: auto;
  margin-right: 20px;
  font-size: 20px !important;
  font-weight: 500;
  letter-spacing: 2px;
}

@media print {
  .no-print {
    display: none;
  }
}
