<div class="token-view-bg">
  <div class="issue-token-container no-print">
    <mat-card class="issue-token mat-elevation-z8">
      <button
        mat-raised-button
        color="warn"
        class="back-btn"
        routerLink="/display/issue/token"
      >
        <mat-icon>arrow_back</mat-icon>Back
      </button>
      <img class="issue-logo" src="./assets/csab-logo.png" alt="Logo Text" />
      <h3 class="issue-text">Welcome to Colegio San Agustin - Bacolod</h3>
      <h4 class="issue-text">
        Get Your Token Number
      </h4>
      <h5 class="issue-text fs-department" *ngIf="routerParams$ | async; let param">
        {{ param.department_name }}
      </h5>

      <div class="issue-form">
        <button
          mat-raised-button
          color="primary"
          class="issue-btn"
          (click)="generateTicket(0)"
        >
          REGULAR TOKEN
        </button>
        <button
          mat-raised-button
          color="accent"
          class="issue-btn"
          (click)="generateTicket(1)"
        >
          PRIORITY TOKEN <br>(PWD/SENIOR CITIZEN/PREGNANT WOMEN) ONLY
        </button>
      </div>
    </mat-card>
  </div>

  <ng-template #alertIssueDialog>
    <div mat-dialog-content>
      <p class="fs-department">{{ ticketTypeText | uppercase }}?</p>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-button class="issue-btn" [mat-dialog-close]="false" color="warn">CANCEL</button>
      <button 
        class="issue-btn"
        mat-raised-button
        [color]="priorityColor"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        YES
      </button>
    </div>
  </ng-template>
</div>
