<div class="container" *ngIf="latestToken$ | async as token">
  <div class="now-serving">Now Serving</div>
  <div class="ticket">Token</div>
  <div class="number">#{{ token.ticket_number }}</div>

  <mat-chip-list class="priority" *ngIf="token.priority === 1">
    <mat-chip color="accent" selected>priority</mat-chip>
  </mat-chip-list>

  <div class="counter" *ngIf="token.latest_user">
    proceed to
    {{ token?.latest_user?.user_counter?.counter?.department.code }}
    {{ token?.latest_user?.user_counter?.counter?.position }}
  </div>
</div>
