$background-sidebar: rgba(36, 47, 61, 0.98);
$text-default-color: rgb(148, 159, 172);
$text-white-color: rgb(255, 255, 255);
$bg1: rgba(23, 119, 205, 1);
$bg2: rgba(46, 145, 199, 1);
$bg3: rgba(66, 175, 145, 1);

.sidebar-container {
  height: 100%;
}

.sidebar {
  width: 240px;
  background: $background-sidebar;
}

.sidebar-toolbar {
  display: flex;
  height: 55px;
  background: $background-sidebar;
  justify-content: center;
}

.sidebar-logo {
  width: auto;
  height: 2.8em;
}

.mat-nav-list a {
  height: 50px;
  color: $text-default-color;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.2px;

  .mat-list-icon {
    font-size: 20px;
  }
}

.mat-nav-list a:hover {
  background-image: linear-gradient(
    to left bottom,
    #f5f60d,
    #fad000,
    #f9aa00,
    #f38300,
    #e65c00,
    #d14d02,
    #bd3e03,
    #a82f03,
    #8d3503,
    #743608,
    #5d3410,
    #483018
  );
  * {
    color: $text-white-color;
  }
}

.mat-nav-list a.active {
  background-image: linear-gradient(
    to left bottom,
    #f5f60d,
    #fad000,
    #f9aa00,
    #f38300,
    #e65c00,
    #d14d02,
    #bd3e03,
    #a82f03,
    #8d3503,
    #743608,
    #5d3410,
    #483018
  );
  * {
    color: $text-white-color;
  }
}

.mat-subheader {
  color: $text-default-color;
}

.mat-sidebar-content {
  height: 100%;
  overflow-x: hidden;
}
