<div class="container">
  <ng-container *ngIf="!(isLoading$ | async); else loading">
    <div class="marquee">
      <div>
        <p>
          <ng-container *ngFor="let text of (announcements$ | async)">
            {{ text.details }}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
          </ng-container>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loader-overlay">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        strokeWidth="5"
        diameter="70"
      >
      </mat-progress-spinner>
    </div>
  </ng-template>
</div>
