<div class="container">
  <mat-toolbar class="title-toolbar primary-card">Past Queue</mat-toolbar>
  <div
    class="counter-card"
    *ngFor="let token of pastTokens$ | async; trackBy: trackById"
  >
    <mat-card class="card-1 ">
      <div class="header">
        Token Number
      </div>
      <div class="body">
        {{ token.ticket_number }}
      </div>
    </mat-card>
    <mat-card [ngClass]="[generateCardBg(), 'card-2']">
      <div class="header">
        {{ token?.latest_user?.user_counter?.counter?.department.code }}
      </div>
      <div class="body">
        {{ token?.latest_user?.user_counter?.counter?.position }}
      </div>
    </mat-card>
  </div>
</div>
