.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.counter-card {
  flex: 0 0 80%;
  width: 420px;
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center;
}

.title-toolbar {
  text-transform: uppercase;
  font-size: 2vw;
  justify-content: center;
}

.card-1 {
  flex: 0 0 50%;
}

.card-2 {
  flex: 0 0 50%;
  background-color: #cf140e;
  color: #fffaff;
}

.header {
  font-size: 2vw;
}

.body {
  font-size: 8vw;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1920px) {
  .counter-card {
    height: 250px;
  }
}
