<div class="container">
  <div class="counter-card ">
    <mat-card class="card-1 ">
      <div class="header">
        Token Number
      </div>
      <div class="body">
        559
      </div>
    </mat-card>
    <mat-card class="card-2 primary-card">
      <div class="header">
        Counter
      </div>
      <div class="body">
        2
      </div>
    </mat-card>
  </div>
  <div class="counter-card">
    <mat-card class="card-1 ">
      <div class="header">
        Token Number
      </div>
      <div class="body">
        558
      </div>
    </mat-card>
    <mat-card class="card-2 accent-card">
      <div class="header">
        Counter
      </div>
      <div class="body">
        3
      </div>
    </mat-card>
  </div>
  <div class="counter-card">
    <mat-card class="card-1 ">
      <div class="header">
        Token Number
      </div>
      <div class="body">
        557
      </div>
    </mat-card>
    <mat-card class="card-2 warn-card">
      <div class="header">
        Counter
      </div>
      <div class="body">
        4
      </div>
    </mat-card>
  </div>
</div>
