$background-sidebar: rgba(36, 47, 61, 0.98);
$text-default-color: rgb(148, 159, 172);
$text-white-color: rgb(255, 255, 255);
$bg1: rgba(23, 119, 205, 1);
$bg2: rgba(46, 145, 199, 1);
$bg3: rgba(66, 175, 145, 1);

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  background: $background-sidebar;
}

.sidenav-toolbar {
  display: flex;
  height: 55px;
  background: $background-sidebar;
  justify-content: center;
}

.sidenav-logo {
  width: auto;
  height: 2.8em;
}

.mat-nav-list a {
  height: 50px;
  color: $text-default-color;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.2px;

  .mat-list-icon {
    font-size: 20px;
  }
}

.mat-nav-list a:hover {
  background: linear-gradient(90deg, $bg1 0%, $bg2 43%, $bg3 100%);
  * {
    color: $text-white-color;
  }
}

.active {
  background: rgb(23, 119, 205);
  background: linear-gradient(90deg, $bg1 0%, $bg2 43%, $bg3 100%);
  * {
    color: $text-white-color;
  }
}

.mat-subheader {
  color: $text-default-color;
}
