<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav mat-elevation-z3"
    fixedInViewPort="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isSideNavToggle$ | async"
  >
    <mat-toolbar class="sidenav-toolbar mat-elevation-z3">
      <img class="sidenav-logo" src="./assets/csab-logo.png" alt="Logo" />
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/login" class="active">
        <mat-icon matListIcon>folder</mat-icon>
        <p matLine>Login</p>
      </a>
      <a mat-list-item routerLink="/app">
        <mat-icon matListIcon>folder</mat-icon>
        <p matLine>Content</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> <ng-content></ng-content> </mat-sidenav-content>
</mat-sidenav-container>
