<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav mat-elevation-z3"
    fixedInViewPort="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isSideNavToggle$ | async"
  >
    <mat-toolbar class="sidenav-toolbar mat-elevation-z3">
      <img class="sidenav-logo" src="./assets/csab-logo.png" alt="Logo" />
    </mat-toolbar>

    <mat-nav-list>
      <ng-container *ngFor="let nav of (sidebarLinks$ | async)">
        <h3 *ngIf="nav.isHeader" mat-subheader>{{ nav.title }}</h3>
        <a
          *ngIf="!nav.isHeader"
          mat-list-item
          [routerLink]="nav.link"
          routerLinkActive="active"
        >
          <mat-icon matListIcon>{{ nav.icon }}</mat-icon>
          <p matLine>{{ nav.title }}</p>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> <ng-content></ng-content> </mat-sidenav-content>
</mat-sidenav-container>
