<div class="container">
  <div class="left-container">
    <csab-page-title pageTitle="My Counter">
      <button
        mat-raised-button
        color="primary"
        (click)="callNext()"
        [disabled]="(pendingTokenCount$ | async) === 0 || (isCalling$ | async)"
      >
        <mat-icon>call</mat-icon>
        Call Next
      </button>
    </csab-page-title>

    <div class="now-serving-container">
      <csab-my-counter-now-serving></csab-my-counter-now-serving>
    </div>
  </div>

  <div class="right-container">
    <div class="counter-pending-container">
      <csab-my-counter-pending></csab-my-counter-pending>
    </div>
  </div>
</div>
