/* You can add global styles to this file, and also import other style files */

html,
body {
  display: block;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  background: #fafafa;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.snack-bar-bg-danger {
  background-color: rgb(231, 6, 6);
  color: #fafafa;

  .mat-simple-snackbar-action {
    color: #fafafa;
  }
}

.snack-bar-bg-success {
  background-color: rgba(22, 143, 52, 0.938);
  color: #fafafa;
  .mat-simple-snackbar-action {
    color: #fafafa;
  }
}

.snack-bar-bg-warning {
  background-color: rgb(250, 229, 40);
  color: #000000;
  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.snack-bar-bg-info {
  background-color: rgb(54, 247, 253);
  color: #000000;
  .mat-simple-snackbar-action {
    color: #000000;
  }
}
