<div class="container">
  <div class="left-container">
    <mat-card class="display-now-serving mat-elevation-z8">
      <csab-display-now-serving></csab-display-now-serving>
    </mat-card>

    <mat-card class="display-media">
      <csab-display-media></csab-display-media>
    </mat-card>
  </div>

  <div class="right-container">
    <mat-card class="counter-card">
      <csab-display-counter-card></csab-display-counter-card>
    </mat-card>

    <div class="right-footer-container mat-elevation-z8">
      <mat-card class="dispay-news">
        <csab-display-news></csab-display-news>
      </mat-card>
      <mat-card class="display-clock">
        <csab-display-clock></csab-display-clock>
      </mat-card>
    </div>
  </div>
</div>
